@use '../abstracts/mixins' as mix;

// Texts
.text-lg {
  @include mix.text-lg;
}

.text-md {
  @include mix.text-md;
}

.text-sm {
  @include mix.text-sm;
}

// Headings

.heading-xl {
  @include mix.heading-xl;
}
.heading-ml {
  @include mix.heading-ml;
}
.heading-md {
  @include mix.heading-md;
}
.heading-lg {
  @include mix.heading-lg;
}
.heading-sm {
  @include mix.heading-sm;
}
