image: node:22.12.0
pages:
  stage: deploy
  before_script:
    - npm -v
    - node -v
    - rm -rf /var/www/tifw.uz/app /var/www/tifw.uz/i18n/locales /var/www/tifw.uz/public
    - rm -f /var/www/tifw.uz/.gitignore /var/www/tifw.uz/.gitlab-ci.yml /var/www/tifw.uz/README.md /var/www/tifw.uz/eslint.config.mjs /var/www/tifw.uz/nuxt.config.ts /var/www/tifw.uz/package-lock.json /var/www/tifw.uz/package.json /var/www/tifw.uz/transform-images.sh /var/www/tifw.uz/tsconfig.json
    - rm -rf /var/www/tifw.uz/.nuxt
    - rm -rf /var/www/tifw.uz/.output
  variables:
    NODE_OPTIONS: "--max-old-space-size=4096"  
  script:
    
    - cp -r -u * /var/www/tifw.uz
    - cd /var/www/tifw.uz
    - ls -la
    - NODE_OPTIONS="--max-old-space-size=1024" npm i
    - NODE_OPTIONS="--max-old-space-size=1024" npm run build
  # - export PM2_HOME=/ubuntu/.pm2
  #   - pm2 status
  # - pm2 delete tifw
  # - pm2 status
    - pm2 restart tifw
  # - pm2 delete tifw
  # - NODE_OPTIONS="--max-old-space-size=1024" npm run generate
  #   - pm2 restart tifw
    # - PORT=3003 pm2 start .output/server/index.mjs --name tifw
  artifacts:
    paths:
      - ./*
  only:
    - main
