image: node:18
pages:
  stage: deploy
  before_script:
    - npm -v
  script:
    - cd /var/www/tifw.uz
    - ls -la
    - rm -rf /var/www/tifw.uz/*
    - rm -rf /var/www/tifw.uz/.nuxt
    - rm -rf /var/www/tifw.uz/.output
    - cp -r -u * /var/www/tifw.uz
    - cd /var/www/tifw.uz
    - ls -la
    - npm i
    - npm run build
  # - export PM2_HOME=/ubuntu/.pm2
  #   - pm2 status
  # - pm2 delete tifw
  # - pm2 status
  # - pm2 restart tifw
  # - pm2 delete tifw
  # - NODE_OPTIONS="--max-old-space-size=1024" npm run generate
  #   - pm2 restart tifw
    - PORT=3003 pm2 start .output/server/index.mjs --name tifw
  artifacts:
    paths:
      - ./*
  only:
    - main
