@use './variables' as *;

// @mixin section-margin-inline {
//   margin-inline: max(16px, 7rem);
//   @media only screen and (max-width: $bp-xxl) {
//     margin-inline: max(16px, 4rem);
//   }
// }
// @mixin section-padding-inline {
//   padding-inline: max(16px, 7rem);
//   @media only screen and (max-width: $bp-xxl) {
//     padding-inline: max(16px, 4rem);
//   }
// }

@mixin grid-center {
  display: grid;
  place-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-col($gap: 0) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}
