$clr-a: #0c141e;
$clr-b: #555f70;
$clr-c: #eceff5;
$clr-d: #e8b45a;
$clr-e: #e6ae4c;
$clr-f: #d89b31;
$clr-g: #718096;
$clr-h: #001a0d;
$clr-i: #e8b45b;
$clr-j: #023664;
$clr-k: #035196;
$clr-l: #073d77;
$clr-m: #d9d9d9;
$clr-n: #767f8d;
$clr-o: #008b5e;

$bp-xs: 425px;
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxl: 1400px;

$font-prosto: 'Prosto One', sans-serif;
$font-inter: 'Inter', sans-serif;

$spacing-block: max(9rem, 32px);
