@use '../abstracts/mixins' as mix;

.section-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 12px;
}

.section-subtitle {
  @include mix.text-md;
  max-width: 60ch;
  opacity: 0.78;
}
