@use '../abstracts/mixins' as mix;

.section-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 12px;
  h2,
  p {
    position: relative;
    span:last-child {
      position: absolute;
      inset: 0;
      clip-path: inset(0 0 0%);
    }
  }
}

.section-subtitle {
  @include mix.text-md;
  max-width: 60ch;
  opacity: 0.78;
}
